body {
    background-color: #ffffff;
    font-family: Verdana, sans-serif;
}


h1 {
    color: #000000;
    font-family: 'Koulen', sans-serif;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #000000;
    font-family: 'Koulen', sans-serif;
    font-size: 40px;
    padding: 0px;
    text-align: center;
}

p {
    color: #000000;
    font-family: 'DM Sans';
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    line-height: 1.0;
}

.hero-section {
    background-image: url('pan.spam5.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 450px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Koulen';
    font-size: 85px;
    text-align: center;
    justify-content: center;

}

.box-container {
    display: flex;
    gap: 40px;             
    justify-content: center;
    margin: 50px;
    align-items: center;
  }

  
  .box {
    max-width: 250px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
  }

 
  .box img {
    width: 100%;
    height: auto;
  }


  .box h2 {
    font-family: 'Koulen', sans-serif;
    margin: 15px 0 0px 0;
  }

  
  .box p {
    margin: 0;
    line-height: 1.0; 
  }





ul#nav {
    list-style-type: none;
    font-size: 30px;
    font-family: 'Koulen', sans-serif;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    position: fixed;
    top: 0;       
    left: 0;
}

ul#nav a {
    text-decoration: none;
    color: #B23600;
    padding: 2px 0px;
    width: 150px;
    text-align: center;
    display: inline-block;
}

ul#nav a:hover {
    color: #FFC000;
}

ul#nav li {
    display: inline-block;
}

.box-container {
    display: flex;            
    justify-content: center; 
    gap: 20px;              
    margin: 50px;    
    border: none;  
    padding: 0px 0px 0px 0px;      
  }

  
  .box {
    flex: 1;                  
    max-width: 300px;        
    padding: 20px;       
    background-color: #ffffff;
    border: 2px solid #B23600;
    border-radius: 12px;
    text-align: center;
    }
        
    .button {
        width: 80%;
        display: inline-block;       
        background-color: #B23600;
        padding: 0px 0px;          
        margin-top: 15px;            
      }
      
      .button a {
        color: #fff;
        text-decoration: none;
        font-family: 'Koulen', sans-serif;
        font-size: 20px;            
      }
      
      .button:hover {
        background-color: #FFC000;
      }

      .smallbutton {
        color: #ffffff;
        background-color: #B23600;
        flex: 1;
        max-width: 150px;
        height: 30px;
        padding: 10px 10px 30px 10px;
        text-align: center;
        border: 2px solid white;
      }
      
      .smallbutton a {
        color: #fff;
        text-decoration: none;
        font-family: 'Koulen', sans-serif;       
        font-size: 30px;
        text-decoration: none;
      }
      .smallbutton:hover {
        background-color: #FFC000;
        border: 2px solid #FFC000;
      }

      .mainbutton {
        color: #ffffff;
        background-color: #B23600;
        flex: 1;
        max-width: 300px;
        height: 60px;
        padding: 20px 20px 30px 20px;
        text-align: center;
        border: 2px solid white;
      }
      
      .mainbutton a {
        color: #fff;
        text-decoration: none;
        font-family: 'Koulen', sans-serif;         
        font-size: 40px;
        text-decoration: none;
      }
      .mainbutton:hover {
        background-color: #FFC000;
        border: 2px solid #FFC000;
      }

    .blankspace {
        height: 100px;

    }

    .smallspace {
        height: 38px;

    }


    .formbutton {
        width: 100%;
        padding: 15px;
        background-color: #B23600;
        color: white;
        font-family: 'Koulen';
        font-size: 40px;
    }
    
    .formbutton:hover {
        background-color: #FFC000;
        color: #fff;
    }

    .footer {
        display: flex;
        background-color: #B23600;
        color:  #fff;
        font-family: 'DM Sans';
        font-size: 25px;
        gap: 40px;              
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;      
        left: 0;
      }      

